body{
    background-color: rgb(40, 40, 40);
    color: white;
    
}
*{
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: aliceblue;
    padding: 20px 0px;
    color: black;
    margin-bottom: 20px;


}
.instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: x-large;
}

.guess{
    font-size: 50px;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.number{
    height: 25px;
    border-radius: 6px;
    border: none;
    padding: 3px 14px;
}

.submit{
    padding: 8px;
    background-color: rgb(78, 78, 78);
    border: none;
    width: 134px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 17px;
}
.submit:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(51, 51, 51);
}
.submitinst{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;

    gap: 8px;
}

.correctAns{
    text-align: center;
    height: 50px;
    margin-top: 10px;
}
.restart{
    background-color: #3D518C;
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
}
.restart:hover{
    background-color: #4b609f;
    cursor: pointer;
}
.btn{
    text-align: center;

}
.last{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.advice{
    height: 50px;
    font-size: 20px;

}